@import-normalize; /* bring in normalize.css styles */
.spinner {
  
    position: absolute;
    top: 40px;
    right: 20px;
    
    }
    .spinner .vortex-wrapper{
      
      align-items: center;
      justify-content: center;
    }
    .spinner .square {
      position: absolute;
      width: 150px;
      height: 150px;
    }